$fontFamily: PT-Root-UI-VF, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontWeightRegular: 400;
$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontSize: 16px;
$fontColor: #58646a;
$backgroundColor: #ffffff;
$accent: #ea5a0a;
$error: #d20202;